
.wrapper {
    width: 420px;
    background: transparent;
    color: #fff;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(30px);
    padding: 30px 40px;
    top: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);

  }
  .wrapper h1 {
    font-size: 36px;
    text-align: center;
  }
  .wrapper .input-box {
    position: relative;
    width: 100%;
    height: 30px;
    margin: 50px 0;
  }
  .input-box input {
    width: 80%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
  }
  .input-box input::placeholder {
    color: #fff;
  }
  .input-box .icon {
    position: absolute;
    right: 35px;
    top: 110%;
    transform: translateY(-50%);
    font-size: 24px;
  }
  .wrapper .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: 15px 10px 15px;    
  }
  .remember-forgot label input {
    accent-color: #fff;
    margin-right: 4px;
  }
  .remember-forgot a {
    color: #fff;
    margin-bottom: 20px;
    text-decoration: none;
    margin-left: 10px;
  }
  .remember-forgot a:hover {
    text-decoration: underline;
  }
  .wrapper button {
    width: 100%;
    height: 45px;
    background: #fff;
    border-radius: 40px;
    outline: none;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 700;
    margin-right: 20px;
    margin-top: 10px;
  }
  .wrapper .gray {
    background: #eaeaea;
    color: #676767;
  }
  .wrapper .register-link {
    font-size: 14.5px;
    text-align: center;
    margin-top: 20px 0 15px;
  }
  .register-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
  }
  .register-link p a:hover {
    text-decoration: underline;
  }
  