.movie-details-container {
    display: flex;
    justify-content: flex-start; /* Değişiklik */
    align-items: center;
    padding: 20px;
    max-width: 600px;
  }
  
  .movie-poster {
    border-radius: 15px;
    width: 300px;
    height: auto;
    margin-right: 20px;
  }
  
  .movie-details {
    text-align: left; 
  }
  
  .movie-title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
    color: rgb(194, 184, 171);
  }
  
  .movie-overview {
    margin-bottom: 10px;
    margin-top: 0;
    color: white;
    font-size: 26px;
    width: 700px;
  }
  
  .movie-release-date,
  .movie-rating {
    margin-bottom: 5px;
    color: white;
  }
  